body {
    color: white;
    background-color: rgb(23, 8, 3);
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

header img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    /*border: 5px solid red;*/
}

.center {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

footer img {
    width: 30px;
    height: 30px;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: center;
}

footer a {
    margin: 20px; 
    text-align: center;
}

footer p {
    margin-top: 2px;
}

.container {
    padding: 0px 50px;
}

nav a:hover{
    color: red;
}